[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h5py = "==2.10.0"
cython = "*"
tensorflow = "==1.14"
numpy = "*"
pandas = "*"
tqdm = "*"
matplotlib = "*"
scikit-learn = "*"
opencv-python = "*"
python-mnist = "*"
darkflow = {path = "./darkflow"}
pytesseract = "*"
flask = "*"
flask-sqlalchemy = "*"
tensorflow-gpu = "==1.14"

[dev-packages]
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
